.app-container {
  display: flex;
  min-height: 100vh;
  background: #f3f4f6;
}

.main-content {
  flex: 1;
  transition: margin-left 0.3s ease;
}

.main-content.with-nav {
  margin-left: 15.6250rem;
}

.main-content.with-nav.nav-collapsed {
  margin-left: 4.3750rem;
}

@media (max-width: 48rem) {
  .main-content.with-nav {
    margin-left: 0;
  }

  .main-content.with-nav.nav-collapsed {
    margin-left: 4.3750rem;
  }
}

@media print {
  app-side-nav,
  app-shared-header {
    display: none !important;
  }

  .main-content {
    margin-left: 0 !important;
  }
}
